<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
     
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side -->
                    <div class="col-md-6 col-12 main_header_right weather">
                        <figure>
                            <img src="images/404.jpg" alt="ashish" class="img-fluid" title="ashsh ratre">
                        </figure>
                    </div>
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_left about">
                        <p>Awww.. Don't worry</p>
                        <h1>It's Just <span class="text_col" >404 Error !</span></h1>
                        <a href="/"><button>Go Back</button></a>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer codes -->
    {{>footer}}
</body>
</html>